*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background: black;
    overflow: none;
    position: sticky;
    top: 0px;
}
li {
    list-style: none;
    padding: 8px;

}
li a {
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}
li:hover{
    background: yellow;
    border-radius: 20px;
}
table tr td  {
    border: 1px solid black !important;
    text-align: center;
    align-content: center;
}
table  th {
    border: 1px solid black !important;
    text-align: center;
    align-content: center;

}